#dashboard {
  padding-top: 5rem;
  > h1 {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  > h3 {
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }
}

.overview {
  box-sizing: border-box;
  max-width: 600px;
  margin: 0 auto 1rem;
  color: white;
  text-shadow: 0 0 8px rgb(20, 20, 20);
  border-radius: 2rem;
  padding: 2rem;
  background: url("https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-1.2.1&w=1000&q=80");
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    mix-blend-mode: revert;
    margin-bottom: 1rem;
  }
}

.basket {
  max-width: 600px;
  margin: 0 auto;
}

.basket-item {
  display: flex;
  position: relative;
  &__img-container {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1rem;
    > img {
      width: inherit;
      height: inherit;
      object-fit: cover;
    }
  }
  &__reaction {
    background-color: rgba(200, 200, 200, 0.6);
    display: inline-block;
    margin-left: 1rem;
    border-radius: 1rem / 1rem;
    padding: 0.5rem;
    font-size: 0.7em;
    &--positive {
    }
    &--negative {
    }
  }
}
