.button-done {
    background: #097DBE;
    border-radius: 7px;
    width: 64px;
    height: 33px;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: white;
}